header {
  background-color: #0E2340;
  height: 100px;
  color: #D8D8D8;
}

header img {
  height: 100px;
  margin-top: -10px;
}

header .contact-info {
  text-align: right;
  /* TODO fix right-side alignment */
  padding: 30px 130px 0 0;
}

footer {
  color: #0E2340;
  height: 226px;
  background-color: #85919F;
  margin-top: 140px;
  box-shadow: 0px 500px 0px 500px #85919F;
}

footer p {
  margin-top: 60px;
}

footer img{
  display: inline-block;
  width: 50px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  header {
    height: 180px;
  }

  header .contact-info {
    text-align: center;
    padding: 10px 0 0 0;
  }

  footer img {
    width: 40px;
  }

  footer .tiny {
    padding: 0;
  }
}
