main {
  height: 500px;
  background: url("../images/hero0.jpg");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin: 20px 0 30px 0;
  position: relative;
  -webkit-transition: background-image 0.5s linear;
  -moz-transition: background-image 0.5s linear;
  -ms-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
}

main img {
  display: none;
}

main span, main li {
  display: block;
  position: absolute;
  left: 58%;
  color: white;
}

main span.one {
  font-size: 4.5em;
  top: 80px;
}

main span.two {
  font-size: 4.5em;
  top: 144px;
}

main span.three {
  font-size: 1.5em;
  text-transform: uppercase;
  top: 230px;
  left: 58.5%;
}

main li.button {
  left: 58.5%;
  top: 280px;
}

article p {
  margin-top: 20px;
}

section {
  margin-top: 140px;
}

section p {
  text-align: center;
}

section p:first-of-type {
  padding: 50px 10px 20px 10px;
}

section .image-container {
  height: 180px;
}

section img {
  max-height: 100%;
  max-width: 100%;
}

section .button {
  margin: auto;
  width: 65%;
}

section p.button a {
  color: white;
}

section p.caption {
  margin-top: 20px;
}

section .horizontal {
  margin-top: 60px;
}

@media (max-width: 767px) {
  main {
    margin: 0;
  }

  article div {
    margin-top: 40px;
  }

  article p {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  main span.one, main span.two {
    left: 8%;
  }
  main span.three, main li.button {
    left: 8.5%;
}
